<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net461" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net461" />
  <package id="CefSharp.Common" version="85.3.130" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="79.1.360" targetFramework="net461" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net461" />
  <package id="Fody" version="6.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PacketDotNet" version="1.0.3" targetFramework="net461" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
  <package id="SharpPcap" version="5.1.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net461" />
  <package id="SimWinMouse" version="1.0.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
</packages>